version: '3.8'

services:

  mosquitto:
    image: eclipse-mosquitto:2.0
    container_name: broker_mqtt
    ports:
      - "1883:1883" 
      - "9001:9001" 
    volumes:
      - ./mosquitto/config:/mosquitto/config
    networks:
      - iot_network


  mongo:
    image: mongo:latest
    container_name: db_mongo
    ports:
      - "27017:27017" 
    volumes:
      - ./mongo-data:/data/db 
    networks:
      - iot_network


  backend:
    build: ./backend # 
    container_name: backend_server
    ports:
      - "3001:3001" 
    env_file: ./.env 
    volumes:
      - ./backend/src:/app/src 
    depends_on: 
      - mosquitto
      - mongo
    networks:
      - iot_network
    dns:
      - 8.8.8.8
  

networks:
  iot_network:
    driver: bridge

volumes:
  mongo-data: 